<div class="container-fluid">
    <div class="row">

        <div class="card-body bg-light rounded col-md-12 m-5 border">
            <div class="row">

                <div class="card-body col-md-2" *ngFor="let mesa of mesas">
                    <div class="card border">
                        <div class="card-header bg-white"> {{mesa?.nome}} </div>
                        <div class="card-body bg-success m-2 rounded">
                            <!-- {{mesa?.status}} -->
                            <h4>Em andamento</h4>

                            <!--
                            <h4 *ngIf="mesa.pedido === null">Sem Pedido</h4>
                            <h4 *ngIf="mesa.pedido !== null && this.minuto < mesa?.pedido?.tempoIdeal.getDate()" id="demo-id" class="card-title">Em andamento</h4>
                            <h4 *ngIf="mesa.pedido !== null && this.minuto >= mesa?.pedido?.maiorTempo">Atrasado</h4>
                            -->
                        </div>

                        <!--Modal Criação Pedido-->
                        <div class="col d-flex justify-content-center">
                            <!--Botão de chamada do Modal-->
                            <button *ngIf="mesa?.pedido === null" type="button" class="btn btn-outline-primary m-2" data-toggle="modal" [attr.data-target]="'#modalMesa'+mesa.id" style="background-color: #007bff; color: white;" (click)="capturaNomeMesa(mesa.nome)">Fazer pedido</button>
                            <div class="modal fade" [attr.id]="'modalMesa'+mesa.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <!--Modal Pedido-->
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{mesa.nome}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="pedidoForm" (ngSubmit)="addPedidoNaMesa()">
                                                <div class="form-group" *ngIf="mostrarProdutos === 1">
                                                    <label for="descricao" class="ml-1 mt-3 font-weight-bold">Descricao
                            pedido:</label>
                                                    <input type="text" class="form-control form-control-lg text-center" name="descricao" id="descricao" formControlName="descricao" placeholder="Descricao" required>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-secondary btn-lg d-block mx-auto customSizeBtn rounded-pill">Registrar</button>
                                                    </div>
                                                </div>

                                                <div *ngIf="mostrarProdutos === 2">
                                                    <div *ngFor="let produto of produtosCardapio">
                                                        <label [for]="produto.nome">{{produto.nome}} <button type="button"
                                class="btn glyphicon glyphicon-plus" (click)="addProdutoPedido(produto)">+</button>
                            </label>
                                                    </div>



                                                    <button type="button" class="btn btn-secondary btn-lg d-block mx-auto customSizeBtn rounded-pill" (click)="registarProdutosPedido()">Registrar</button>
                                                </div>

                                                <div *ngIf="mostrarProdutos === 3">
                                                    <label for="">Clique em OK para confirmar os produtos</label>
                                                    <button type="button" class="btn btn-secondary btn-lg d-block mx-auto customSizeBtn rounded-pill" (click)="getTempo(pedido?.id, pedido?.maiorTempo)">OK</button>
                                                </div>
                                            </form>


                                        </div>
                                        <div class="modal-footer">
                                          <button [disabled]="" #fechaModalPedido type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Modal Detalhes Mesa-->
                        <div class="col d-flex justify-content-center">
                            <!--Botão de chamada do Modal-->

                            <button *ngIf="mesa.pedido !== null" type="button" class="btn btn-outline-primary m-2" data-toggle="modal" [attr.data-target]="'#modalPedidoMesa'+mesa.id" style="background-color:#6c757d; color: white;" (click)="pedidoDaMesa(mesa.id)">Detalhes da Mesa</button>

                            <div class="modal fade" [attr.id]="'modalPedidoMesa'+mesa.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <!--Modal Pedido-->
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{pedidoMesa?.descricao}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                                        </div>

                                        <div class="modal-body">
                                            <div *ngFor="let produto of pedidoMesa?.itensDoPedido">
                                                <div>
                                                    <p>{{produto?.nome}}---------------- R${{produto?.valor}}</p>
                                                </div>
                                            </div>
                                            <div class="total">
                                                <h2>Valor total do pedido R${{pedidoMesa?.valorTotal}}</h2>
                                                <p>Tempo maximo para o pedido ser entregue {{pedidoMesa?.maiorTempo}} minutos</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary float-left" (click)="start()" (click)="removePedidoDaMesa(mesa.id, pedidoMesa.id)">Finalizar pedido</button>
                                            <button [disabled]="" #fechaModalDetalheMesa type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--Modal Criação Mesa-->
    <div class="col">
        <!--Botão de chamada do Modal-->
        <div type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalNovaMesa">Nova mesa</div>
        <div class="modal fade" id="modalNovaMesa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!--Modal Mesa-->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nova mesa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="mesaForm" (ngSubmit)="criarMesa()">
                            <div class="form-group">
                                <label for="nome" class="ml-1 mt-3 font-weight-bold">Qual o nome da mesa:</label>
                                <input type="text" class="form-control form-control-lg text-center" name="nome" id="nome" formControlName="nome" placeholder="Nome" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary btn-lg d-block mx-auto customSizeBtn rounded-pill">Registrar</button>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button [disabled]="" #fechaModal type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cronometro">
        <button type="button" (click)="start()"></button>

        <p>{{minuto}}</p>
        <p>{{segundo}}</p>
    </div>
