<div class="container-fluid">
  <div class="row">

    <div class="card-body bg-white rounded col-md-12 m-5 border">
      <div class="row">

        <div class="card-body col-md-2" *ngFor="let mesa of mesas">
          <div class="card border">
            <div class="card-header bg-white">
              <h5>{{mesa?.nome}} id: {{mesa?.id}}</h5>
            </div>
            <div *ngIf="mesa.pedido === null" class="card-body bg-info text-white m-2 rounded">
              <h5 id="demo-id" class="card-title"> {{mesa?.status}} </h5>
            </div>

            <div *ngIf="mesa.pedido !== null && date.getTime() < mesa?.pedido?.tempoIdeal"
              class="card-body bg-success text-white m-2 rounded">
              <h5 id="demo-id" class="card-title"> {{mesa?.status}} </h5>
             </div>

            <div *ngIf="mesa.pedido !== null && date.getTime() >= mesa?.pedido?.tempoIdeal"
              class="card-body bg-danger text-white m-2 rounded">
              <h5 id="demo-id" class="card-title"> Atrasado </h5>
              <p>{{mesa?.status}}</p>
            </div>
            <div *ngIf="mesa?.status=== 'OCUPADA'">
              <button type="button" class="btn btn-secondary mx-auto d-flex justify-content-center mb-2"
                        (click)="removerCliente(mesa?.id)">Remover cliente da mesa</button>
            </div>
            <div *ngIf="mesa?.status=== 'CHAMANDO GARCOM'">
              <button type="button" class="btn btn-secondary mx-auto d-flex justify-content-center mb-2"
                        (click)="atenderCliente(mesa?.id)">Atender cliente</button>
            </div>

            <!--Modal Criação Pedido-->
            <div class="col d-flex justify-content-center">
              <!--Botão de chamada do Modal-->
            <!--  <button *ngIf="mesa?.pedido === null" type="button" class="btn btn-outline-primary mb-2"
                data-toggle="modal" [attr.data-target]="'#modalMesa'+mesa.id"
                style="background-color: #007bff; color: white;" (click)="capturaIdMesa(mesa.id)" >Fazer pedido</button>-->
              <div class="modal fade" [attr.id]="'modalMesa'+mesa.id" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <!--Modal Pedido-->
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{{mesa.nome}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="card-body">

                            <form [formGroup]="pedidoForm" (ngSubmit)="getTempo(pedido?.id, pedido?.maiorTempo)">

                              <div class="form-group" *ngIf="mostrarProdutos === 1">
                                <label for="descricao" class="ml-1 mt-3 font-weight-bold" style="font-size: 20px;">Deseja fazer o pedido click em continuar</label>
                                <div class="form-group">
                                  <button type="button" (click)="addPedidoNaMesa()"
                                    class="btn btn-secondary btn-lg d-block mx-auto mt-2 customSizeBtn rounded-pill">Continuar</button>
                                </div>

                              </div>




                              <div *ngIf="mostrarProdutos === 2">
                                <div class="d-flex justify-content-center mb-2">
                                  <button type="button" class="btn btn-secondary mx-2 " id="btn_exibir_geral"
                                    (click)="exibirfiltroGeral()">Geral</button>
                                  <button type="button" class="btn btn-secondary mx-2" id="btn_exibir_comida"
                                    (click)="exibirfiltroComida()">Comida</button>
                                  <button type="button" class="btn btn-secondary mx-2" id="btn_exibir_bebida"
                                    (click)="exibirfiltroBebida()">Bebida</button>
                                </div>



                                <!-- FILTRO GERAL -->
                                <div *ngIf="filtro === 1" id="mostrar1">
                                  <div *ngFor="let produto of produtosCardapioGeral">
                                    <div class="p-3 mb-2 bg-light text-dark rounded">
                                      <h5>{{produto.nome}}</h5>
                                      <p><strong>Ingredientes ou descrição</strong></p>
                                      <p> {{produto.descricao}}</p>
                                      <p> Essa é a quantidade {{produto.quantidadeEstoque}} em estoque, fique atento!</p>
                                      <P>Valor R${{produto.valor}} </P>
                                      <div type="button" class="btn btn-outline-primary plus btn-sm"
                                        (click)="addProdutoPedido(produto)">
                                        <fa-icon [icon]="faPlus" style="color: white;"></fa-icon>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <!-- FILTRO COMIDA -->
                                <div *ngIf="filtro === 2" id="mostrar2">
                                  <div *ngFor="let produto of produtosCardapioComida">
                                    <div class="p-3 mb-2 bg-light text-dark rounded">
                                      <h5>{{produto.nome}}</h5>
                                      <p><strong>Ingredientes ou descrição</strong></p>
                                      <p> {{produto.descricao}}</p>
                                      <p> Essa é a quantidade {{produto.quantidadeEstoque}} em estoque, fique atento!</p>
                                      <P>Valor R${{produto.valor}}</P>
                                      <div type="button" class="btn btn-outline-primary plus btn-sm"
                                        (click)="addProdutoPedido(produto)">
                                        <fa-icon [icon]="faPlus" style="color: white;"></fa-icon>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <!-- FILTRO BEBIDA -->
                                <div *ngIf="filtro === 3" id="mostrar3">
                                  <div *ngFor="let produto of produtosCardapioBebida">
                                    <div class="p-3 mb-2 bg-light text-dark rounded">
                                      <h5>{{produto.nome}}</h5>
                                      <p><strong>Ingredientes ou descrição</strong></p>
                                      <p> {{produto.descricao}}</p>
                                      <p> Essa é a quantidade {{produto.quantidadeEstoque}} em estoque, fique atento!</p>
                                      <P>Valor R${{produto.valor}}</P>
                                      <div type="button" class="btn btn-outline-primary plus btn-sm"
                                        (click)="addProdutoPedido(produto)">
                                        <fa-icon [icon]="faPlus" style="color: white;"></fa-icon>
                                      </div>
                                    </div>
                                  </div>

                                </div>

                                <div *ngIf="produtosPedido.length === 0" class="alert alert-danger mt-1" role="alert">
                                  O pedido deve ter produtos cadastrados
                                </div>

                                <button type="button" [disabled]="produtosPedido.length === 0"
                                  class="btn btn-secondary btn-lg d-block mx-auto customSizeBtn rounded-pill"
                                  (click)="registarProdutosPedido()">Registrar</button>
                              </div>

                              <div *ngIf="mostrarProdutos === 3">
                                <div class="p-3 mb-2 bg-light text-dark rounded">
                                  <h5>Pedido</h5>
                                  <div *ngFor="let item of pedido?.itensDoPedido" class="mostrarItensPedido">
                                    <p>
                                      {{item.nome}} ----------- R$ {{item.valor}}
                                    </p>
                                  </div>
                                </div>



                                <label for="descricao" class="ml-1 mt-3 font-weight-bold">Faça a sua observação</label>
                                <input type="text" class="form-control form-control-lg text-center " name="descricao"
                                  id="descricao" formControlName="descricao" placeholder="Descricao" required>
                                <div class="form-group">
                                  <button type="submit"  [disabled]="!pedidoForm.valid"
                                    class="btn btn-secondary btn-lg d-block mx-auto mt-2 customSizeBtn rounded-pill">Confirmar o Pedido</button>
                                </div>

                              </div>
                            </form>
                          </div>
                        </div>


                        <div class="col-sm-6" *ngIf="mostrarProdutos === 2">
                          <div class="card-body">
                            <div id="part-pedido-itens" class="p-3 mt-2 mb-2 bg-light text-dark rounded">
                              <h5>Pedido</h5>
                              <div *ngFor="let item of produtosPedido" class="d-flex justify-content-end">
                                <p>
                                  {{item.nome}} -------- R$ {{item.valor}} <button id="part-pedido-itens-button"
                                    type="button" (click)="removerProdutoPedido(item)"> - </button>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button  #fechaModalPedido type="button" class="btn btn-secondary"
                        data-dismiss="modal" (click)="removePedidoDaMesa(mesa.id, pedido.id)">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--Modal Detalhes Mesa-->
            <div class="col d-flex justify-content-center">
              <!--Botão de chamada do Modal-->

              <button *ngIf="mesa.pedido !== null" type="button" class="btn btn-outline-primary mb-2"
                data-toggle="modal" [attr.data-target]="'#modalPedidoMesa'+mesa.id"
                style="background-color:#6c757d; color: white;" (click)="pedidoDaMesa(mesa.id)">Detalhes da
                Mesa</button>

              <div class="modal fade" [attr.id]="'modalPedidoMesa'+mesa.id" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <!--Modal Pedido-->
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Pedido {{pedidoMesa?.nome}} do cliente {{pedidoMesa?.nomeCliente}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <div class="p-3 mt-2 mb-2 bg-light text-dark rounded">
                        <h5> Itens </h5>
                        <div *ngFor="let produto of pedidoMesa?.itensDoPedido">
                          <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <p>{{produto?.nome}}</p>
                            <p>-----------</p>
                            <p>R${{produto?.valor}}</p>
                          </div>
                        </div>
                        <div>
                          <h5>Observações</h5>
                          <p>{{pedidoMesa?.descricao}}</p>
                        </div>
                      </div>

                      <div class="total">
                        <h2>Valor total do pedido: R${{pedidoMesa?.valorTotal}}</h2>
                        <p>Tempo máximo para o pedido ser entregue: {{pedidoMesa?.maiorTempo}} minutos</p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary float-left"
                        (click)="removePedidoDaMesa(mesa.id, pedidoMesa.id)">Finalizar pedido</button>
                      <button [disabled]="" #fechaModalDetalheMesa type="button" class="btn btn-secondary"
                        data-dismiss="modal"> Fechar </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!--Modal Criação Mesa-->
  <div class="col">
    <!--Botão de chamada do Modal-->
    <div type="button" class="btn btn-outline-primary ml-5" data-toggle="modal" data-target="#modalNovaMesa"
      style="color: white;">Adicionar mesa</div>
    <div class="modal fade" id="modalNovaMesa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <!--Modal Mesa-->
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Adicionar mesa </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="mesaForm" (ngSubmit)="criarMesa()">
              <div class="form-group">
                <label for="nome" class="ml-1 mt-3 font-weight-bold"> Nome da mesa: </label>
                <input type="text" class="form-control form-control-lg text-center" name="nome" id="nome"
                  formControlName="nome" placeholder="Nome da mesa" required>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-lg d-block mx-auto customSizeBtn rounded-pill">
                  Adicionar </button>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button [disabled]="" #fechaModal type="button" class="btn btn-secondary"
              data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
