<div class="container-fluid">
  <div class="row">
    <div *ngFor="let mesa of mesas">
      <div class="card card body rounded m-5 bg-white border p-5" *ngIf="mesa?.pedido !== null">

        <div class="d-flex flex-column">
          <h4 class="card-title titulo text-center">{{mesa?.nome}}</h4>
        </div>

        <div class="p-3" *ngIf="mesa?.pedido.tempoIdeal >= date.getTime()">
          <h3 class="bg-success text-center p-3 rounded-pill">Pedido nº {{mesa?.pedido.id}}</h3>
        </div>

        <div class="p-3" *ngIf="mesa?.pedido.tempoIdeal < date.getTime()">
          <h3 class="bg-danger text-center p-3 rounded-pill">Pedido nº {{mesa?.pedido.id}}</h3>
        </div>

        <div class="card-body bg-white m-1 ">

          <div class="d-flex flex-column">
            <h5 class="mb-4 pb-4 border-bottom border-black text-center" style="font-size: 32px">
              {{mesa?.pedido.descricao}}</h5>

            <div *ngFor="let items of mesa?.pedido.itensDoPedido">
              <p class="card-text border-bottom pb-2" style="font-size: 20px">{{items.nome}}</p>

            </div>

            <div>
              <span *ngIf="mesa?.pedido.maiorTempo>0" >
                Faltam: {{mesa?.pedido.maiorTempo}} minutos;
              </span>
              <span id="tempo-esgotado" *ngIf="mesa?.pedido.maiorTempo===0" >
                Tempo esgotado!
              </span>
            </div>

          </div>

          <div class="d-flex justify-content-center mt-4 pt-4">
            <button type="button" class="btn" (click)="entreguePedido(mesa?.id, mesa?.pedido.id)"
              style="background-color: grey; color: white;">
              Entregar
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
