.plus {
  background-color: #DD2D2D;
  border: none;
  box-shadow: 2px 2px 2px #888888;
}


/* .customSizeBtn {
} */

.border {
  box-shadow: 10px 8px 5px #888888;
  border: 1px solid #BFBFBF
}

.remover {
  background-color: #dd2d2d;
  color: white;
}

.remover:hover {
  background-color: #a12323;
}

.entrega {
  background-color: #474a4d;
  color: white;
}

.entrega:hover {
  background-color: #28a745;
}

.plus:hover {
  background-color: #a12323;
}
