<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

      <div class="text-white">
        <h4> Integrantes </h4>
        <ul class="list-unstyled">
          <li> Carlos Augusto Fast </li>
          <li> Clailson Lucas Gadelha </li>
          <li> Ezequiel Ferreira Machado </li>
          <li> Jose Eliardo Silva Venancio </li>
        </ul>
      </div>

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center">
      <p class="py-3 text-white"> Projeto Presto 2020 </p>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
