<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" *ngFor="let produto of produtos">
            <!-- card 1 -->
            <div class="card card body rounded m-4 p-2 bg-white border " style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4 pr-2 d-flex align-items-center">
                        <img [src]="'../../assets/imagens/' + produto?.imagem" class="card-img rounded" [alt]="produto.nome">
                    </div>
                    <div class="col-md-8 bg-white">
                        <!-- card 2 -->

                            <h5 class="card-title d-flex justify-content-center border-bottom pb-1">{{produto?.nome}}</h5>
                            <div class="row">
                              <div class="col-sm-8">
                                <p class="card-text">{{produto?.descricao}}</p>
                              </div>
                              <div class="col-sm-4 d-flex justify-content-end align-items-center">
                                <p> R$ <strong>{{ produto?.valor }}</strong></p>
                              </div>

                            </div>

                            <div class="d-flex justify-content-center">
                              <button *ngIf="produto?.retornoDoCardapio_id ===0"  type="button" class="btn p-1 mt-1 mr-1 addedit " (click)="addNoCardapio(produto)">Adicionar ao Cardapio</button>

                              <button type="button" class="btn p-1 mt-1 mr-1 addedit" data-toggle="modal" [attr.data-target]="'#myModal'+produto?.id" (click)="capturaId(produto?.id)">
                                Editar {{produto?.nome}}
                              </button>

                              <button type="button" class="btn p-1 mt-1 remover" (click)="deletarProduto(produto?.id)">Remover
                                produto
                              </button>
                            </div>

                    </div>
                </div>


                <!-- Modal Edição Produtos-->
                <div class="modal fade" [attr.id]="'myModal'+produto?.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{produto?.nome}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="updateProdutoForm" (ngSubmit)="updateProduto(id)">

                                    <div class="form-group">
                                        <label for="nome" class="ml-1 mt-3 font-weight-bold">Qual o nome do produto:</label>
                                        <input type="text" class="form-control form-control-lg text-center" name="nome" id="nome" formControlName="nome" required>

                                    </div>


                                    <div class="form-group">
                                        <label for="descricao" class="ml-1 mt-3 font-weight-bold">Adicione uma descrição para o
                      produto:</label>
                                        <input class="form-control form-control-lg text-center" name="descricao" id="descricao" formControlName="descricao" required>

                                    </div>
                                    <div class="form-group">
                                        <label for="tempo" class="ml-1 mt-3 font-weight-bold">Em quantos minutos o produto estará
                      pronto?</label>
                                        <input type="number" class="form-control form-control-lg text-center" name="tempo" id="tempo" formControlName="tempo" required>
                                    </div>
                                    <div class="form-group">
                                      <label for="tempo" class="ml-1 mt-3 font-weight-bold">Digite a quantidade em estoque!</label>
                                      <input type="number" class="form-control form-control-lg text-center" name="quantidadeEstoque" id="quantidadeEstoque" formControlName="quantidadeEstoque" required>
                                  </div>
                                    <div class="form-group">
                                        <label for="valor" class="ml-1 mt-3 font-weight-bold">Valor do produto?</label>
                                        <input type="number" class="form-control form-control-lg text-center" name="valor" id="valor" formControlName="valor">
                                    </div>

                                    <div class="form-group">
                                        <label for="imagem" class="ml-1 mt-3 font-weight-bold">Qual o endereço da imagem do produto?</label>
                                        <input type="file" class="form-control form-control-lg text-center" name="imagem" id="imagem" formControlName="imagem" (change)="onFileChanged($event)">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-secondary btn-lg d-block mx-auto customSizeBtn rounded-pill">Registrar</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Adicionar Produto-->
        <div class="col-md-4 text-center d-flex h-100 justify-content-center align-self-center">
            <div type="button" class="btn btn-outline-primary plus" data-toggle="modal" data-target="#modalNovoProduto">
                <fa-icon [icon]="faPlus" style="color: white;"></fa-icon>
            </div>
        </div>
        <div class="modal fade" id="modalNovoProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Cadastrar produto </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <app-cadastroproduto></app-cadastroproduto>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Fechar </button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
