<div class="container-fluid">
  <div class="h1 d-flex justify-content-center mt-3 col-sm-12">

    <button type="button" class="btn btn-outline-light text-dark" (click)="exibirfiltroGeral()"
      style="font-size: 32px;">Geral</button>
    <button type="button" class="btn btn-outline-light text-dark" (click)="exibirfiltroComida()"
      style="font-size: 32px;">Comida</button>
    <button type="button" class="btn btn-outline-light text-dark" (click)="exibirfiltroBebida()"
      style="font-size: 32px;">Bebida</button>

  </div>

  <div class="row">
    <div class="col-md-3" *ngFor="let produto of produtos">
      <app-produto-cardapio [produto]="produto"></app-produto-cardapio>
    </div>
  </div>
</div>
