
<div class="p-5">
  <table class="table table-hover" id="table" #table>
    <thead>
      <tr class="bg-dark text-white">
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Quantidade de saida</th>
        <th scope="col">Quantidade em estoque</th>
      </tr>
    </thead>
    <tbody *ngFor="let produto of produtos">
      <tr>
        <th scope="row">{{produto?.id}}</th>
        <td>{{produto?.nome}}</td>
        <td>{{produto?.descricao}}</td>
        <td><strong>{{produto?.contador}}</strong></td>
        <td><strong>{{produto?.quantidadeEstoque}}</strong></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn border-light exportar"(click)="gerarPdf()">Exportar</button>
  </div>

</div>
